<div class="container module_admin_header" >
    <div class="row module_admin_header_content" >
        <div class="col-md-4" >
            <a href="#/home" ><img src="static/img/logo.png" height="60" /></a >
            <a href="#/home" >积分商城后台管理</a >
        </div >
        <div class="col-md-8" style="text-align:right;padding-top:10px;" >
            <span class="label label-success" style="margin-right:20px;" >
                欢迎您：admin 
            </span >
            <a href="javascript:;" class="btn btn-danger btn-sm" ng-click="logout();" >退出登录</a >
        </div >
        <!--        <div class="col-md-2 col-md-offset-6 top_navi_links">
                    <a ng-repeat="x in list" href="{{x.link}}" class="navi_tab">{{x.name}}</a>
                </div>-->
    </div >
</div >