html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-style: normal;
    font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
a,
button,
i,
b {
    outline: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

html {
    font-size: 62.5%;
    max-width: 900px;
    margin: 0 auto;
    font-family: "microsoft YaHei", "微软雅黑";
    background-color: #EEEEEE;
}

* {
    font-family: "microsoft YaHei", "微软雅黑";
}

.titleStyle {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ECECEC;
    text-indent: 10px;
    font-size: 14px;
    font-family: "微软雅黑", "microsoft YaHei";
}

header {
    height: 40px;
    position: relative;
    background-color: #FFFFFF;
    border-bottom: 2px solid #EEEEEE;
}

header > div {
    width: 25px;
    height: 25px;
    margin-top: 8px;
}

header > div > img {
    width: 100%;
}

header > .close_btn {
    float: right;
    margin-right: 10px;
}

header > h3 {
    position: absolute;
    left: 50%;
    top: 12px;
    font-size: 14px;
}

header > .return_btn {
    float: left;
    margin-left: 10px;
}

.account_information {
    padding: 3px 0px;
    padding-left: 14px;
    background-color: #FFFFFF;
    box-sizing: border-box;;
}

.buy_information {
    background-color: #FFFFFF;
}

.buy_information > .account {
    padding-top: 5px;
}

.buy_information > .canPay {
    padding-bottom: 5px;
}

.buy_information > p {
    color: #333333;
    font-size: 16px;
    padding-left: 14px;
    height: 30px;
    line-height: 30px;
}

.footer {
    color: #5F5F5F;
}

.footer > p {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer > p > span {
    font-size: 15px;
}

.footer > p > span > a {
    color: #13AEEF;
    font-size: 15px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

header > h3 {
    position: absolute;
    left: 50%;
    top: 12px;
    width: 100%;
    text-align: center;
    left: 0px;
    font-size: 18px;
}

.account_information {
    padding: 3px 0px;
    padding-left: 14px;
    background-color: #FFFFFF;
}

.account_information > P {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.account_information > P > span {
    color: #FE3636;
    font-weight: 600;
    margin-right: 3px;
}

.buy_information {
    background-color: #FFFFFF;
}

.account_information, .buy_information, .change_way, .footer {
    max-width: 414px;
    margin: 0 auto;
}



.change_way {
    background-color: #FFFFFF;
    color: #333333;
}
.change_way > ul > li {
    height: 45px;
    border-bottom: 1px solid #ECECEC;
}

.change_way > ul > li > .way_icon {
    float: left;
    width: 35px;
    margin-top: 5px;
}

.change_way > ul > li > .way_icon > img {
    width: 100%;
}

.change_way > ul > li > span {
    line-height: 45px;
    margin-left: 5px;
    font-size: 16px;
}

.change_way > ul > li > .right_icon {
    float: right;
    width: 25px;
    margin-top: 7px;
}

.change_way > ul > li > .right_icon > img {
    width: 100%;
}

.gray_title {
    height: 30px;
    line-height: 30px;
    background-color: #EEEEEE;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 14px;
}

footer {
    padding-top: 20px;
}

.footer > p > span:first-child {
    float: left
}

.footer > p > span:last-child {
    float: right
}

footer > a {
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 40px;
    background-color: #E3A518;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    font-family: "微软雅黑", "microsoft YaHei";
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1px;
}

.way > li > .right_icon > img {
    display: none;
}

.way > li.active > .right_icon > img {
    display: block;
}

@media screen and (min-width: 400px) {
    .header {
        height: 50px;
        line-height: 50px;
        background-color: #393A3F;
    }

    .header > .main_layout {
        margin: 0px 15px;
    }

    .header > .main_layout > li {
        width: 33.33333%;
        height: 50px;
        line-height: 50px;
        float: left;
        color: #FFFFFF;
    }

    .header > .main_layout > li > img {
        width: 16px;
        height: 16px;
        margin-top: 17px;
    }

    .header > .main_layout > .text {
        text-align: center;
        font-size: 16px;
    }

    .header > .main_layout > .backbtn > img {
        float: left;
    }

    .header > .main_layout > .close_btn > img {
        float: right;
    }

    .header > .main_layout:after {
        content: "";
        display: table;
        clear: both;
    }

    .funcList > .list {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #D9D9D9;
    }

    .funcList > .list > div {
        width: 50%;
        height: 100%;
        float: left;
    }

    .funcList > .list > .left > b {
        width: 20px;
        height: 20px;
        margin-top: 15px;
        margin-right: 10px;
        float: left;
    }

    .funcList > .list > .left > span {
        font-size: 16px;
    }

    .funcList > .list > .right > i {
        font-size: 1.4rem;
    }

    .funcList > .list > .right > s {
        margin-top: 17px;
    }
}