@CHARSET "UTF-8";
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body {
    text-align: center;
    font-family: "黑体", "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-text-size-adjust: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea, select, button {
    -webkit-appearance: none;
    font-size: 1rem;
    border: 0;
    outline: none;
}

input, a, span, button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pop_wraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: table;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

.pop_outer {
    display: table-cell;
    vertical-align: bottom;
}

.pop_midder {
    vertical-align: middle;
}

.pop_tip {
    background: #FFFFFF;
    border-radius: 6px;
    margin: 0 3rem;
}

.pop_tip_p1 {
    padding: 5.5rem 1.5rem 2.5rem 1.5rem;
    font-size: 1.6rem;
}

.pop_tip_p2 {
    padding: 1.5rem;
}

.pop_tip_p3 {
    display: -webkit-box;
    margin-top: 1.5rem;
}

.pop_tip_p3 span {
    display: block;
    -webkit-box-flex: 1;
    width: 1px;
}

.p_btn {
    -webkit-user-select: none;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    color: #666666;
    width: 100%;
    background: transparent;
}

.cols {
    color: #5F73C5;
}

.p_btn:active {
    color: #999999;
    background: rgba(0, 0, 0, 0.1);
}

.cols:active {
    color: #243B97;
}

.pop_tip_p4 {
    margin: 0 1.5rem;
    padding: 1.5rem 0 2rem 0;
    font-size: 2rem;
    color: #5F73C5;
}

.pop_tip_p5 {
    margin: 0 1.5rem;
    font-size: 1.5rem;
    color: #000000;
    text-align: left;
}

.pop_tip_p5.cent {
    text-align: center;
}

.border {
    position: relative;
}

.border:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    pointer-events: none;
}

.b_full:before {
    border: 1px solid #DDDDDD;
}

.b_btm:before {
    border-bottom: 1px solid #DDDDDD;
}

.b_lft:before {
    border-left: 1px solid #DDDDDD;
}

.b_rgt:before {
    border-right: 1px solid #DDDDDD;
}

.b_top:before {
    border-top: 1px solid #DDDDDD;
}

.b_top_btm:before {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}